.cart {
  position: relative;
  margin: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 2.5rem;
  }

  &__number {
    position: absolute;
    top: 6px;
    font-size: 1.6rem;
  }
}