.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(175, 161, 161);

  &__logo {
    width: 2.5rem;
  }

  &__number {
    position: absolute;
    top: 6px;
    font-size: 1.6rem;
  }
}