.cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  &__logo {
    width: 2.5rem;
  }

  &__number {
    position: absolute;
    top: 7px;
    font-size: 1.6rem;
    line-height: 1;
  }
}