.shop-collection-preview {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 8rem;
  }

  &__title {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
  }
}