.custom-btn {
  padding: 1.5rem 4rem;
  background: #000;
  color: #fff;
  border: none;
  &:first-child {
    margin-right: 2rem;
  }

  &:hover {
    opacity: 0.9;
  }

  &.inverted {
    display: none;
    background: rgba($color: white, $alpha: 0.9);
    color: black;

      &:hover {
        background: rgba($color: #000000, $alpha: .9);
        color: white;
      }
  }
}