.header {
  font-size: 2rem;
  height: 10rem;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    margin: 1rem 2rem;
  }

  &__nav {
    display: flex;

    &-item,
    &-item:hover,
    &-item:visited {
      color: gray;
      cursor: pointer;
    }

    &-item:last-child {
      align-self: center;
    }
  }

  &__logo{
    margin-left: 2rem;
  }
}

.sign-out {
  padding: 1rem;
  display: flex;
  align-items: center;
}