.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__img {
    width: 7rem;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}