*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: .625em; /* whatever the default text size of the browser = 16px give me 
                        a percentage of it that equals 10px */
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem; /* html font-size is the root em */
  box-sizing: border-box; /* not inherited by default */
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
}